body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: white;
}

.wrapper-todo{
    height: auto;
    border: 2px solid #131819;
    background-color: #131819;
}

.temperatura{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperatura #temp{
    font-size: 150px;
    font-weight: bold;
}

.temperatura #celcius{
    font-size: 30px;
    margin-bottom: 50px;
}

.textInfo{
    flex-direction: column;
    display: flex;
    margin-left: 30%;
    margin-bottom: 20px;
}

.estado, .ajusteTemp{
    background-color: black;
    display: flex;
    border-bottom: 2px solid #131819;
    justify-content: space-between;
    text-align: center;
}

.quente, .frio, .aumentar, .diminuir{
    width: 50%; 
    font-size: 90px;
}

.quente{
    border-right: 3px solid #131819;

}

.textTemp{
    margin-top: 45px;
}

.velocidades{
    display: flex;
    background-color: black;
    font-size: 24px;
    justify-content: space-evenly;
}

.radio{
    margin: 63px 10px;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 16px;
    }

    .temperatura #temp{
        font-size: 100px;
    }
    
    .textInfo{
        margin-left: 15%;
    }
    
    .quente, .frio, .aumentar, .diminuir{
        width: 50%; 
        font-size: 70px;
    }
    
    .quente{
        border-right: 2px solid #131819;
    }
    
    .textTemp{
        margin-top: 20px;
    }
    
    .velocidades{
        display: block;
        font-size: 20px;
    }

    .radio{
        margin: 25px;
    }
}
